@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?awtkpm');
    src:    url('fonts/icomoon.eot?awtkpm#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?awtkpm') format('truetype'),
        url('fonts/icomoon.woff?awtkpm') format('woff'),
        url('fonts/icomoon.svg?awtkpm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-printer:before {
    content: "\e916";
}
.icon-logo:before {
    content: "\e915";
}
.icon-twitter:before {
    content: "\e914";
}
.icon-backward:before {
    content: "\e913";
}
.icon-hide-map:before {
    content: "\e912";
}
.icon-hour:before {
    content: "\e911";
}
.icon-calendar:before {
    content: "\e90f";
}
.icon-close:before {
    content: "\e910";
}
.icon-separator:before {
    content: "\e90e";
}
.icon-plus:before {
    content: "\e90d";
}
.icon-slipstreamers:before {
    content: "\e90c";
}
.icon-play:before {
    content: "\e906";
}
.icon-music:before {
    content: "\e907";
}
.icon-cup:before {
    content: "\e908";
}
.icon-flag:before {
    content: "\e909";
}
.icon-chrono:before {
    content: "\e90a";
}
.icon-next:before {
    content: "\e90b";
}
.icon-map:before {
    content: "\e905";
}
.icon-maximize:before {
    content: "\e901";
}
.icon-small-close:before {
    content: "\e902";
}
.icon-minimize:before {
    content: "\e903";
}
.icon-forward:before {
    content: "\e904";
}
.icon-lock:before {
    content: "\e900";
}

