// regular
@font-face {
    font-family: 'seravek';
    src:    url('../fonts/seravek/SeravekWebBasicRegular.eot?v9x08n');
    src:    url('../fonts/seravek/SeravekWebBasicRegular.eot?v9x08n#iefix') format('embedded-opentype'),
    		url('../fonts/seravek/SeravekWebBasicRegular.woff?v9x08n') format('woff');
    font-weight: normal;
    font-style: normal;
}

// medium
@font-face {
    font-family: 'seravek';
    src:    url('../fonts/seravek/SeravekWebBasicMedium.eot?v9x08n');
    src:    url('../fonts/seravek/SeravekWebBasicMedium.eot?v9x08n#iefix') format('embedded-opentype'),
    		url('../fonts/seravek/SeravekWebBasicMedium.woff?v9x08n') format('woff');
    font-weight: 700;
    font-style: normal;
}

// Bold
@font-face {
    font-family: 'seravek';
    src:    url('../fonts/seravek/SeravekWebBasicBold.eot?v9x08n');
    src:    url('../fonts/seravek/SeravekWebBasicBold.eot?v9x08n#iefix') format('embedded-opentype'),
    		url('../fonts/seravek/SeravekWebBasicBold.woff?v9x08n') format('woff');
    font-weight: bold;
    font-style: normal;
}

// light
@font-face {
    font-family: 'seravek';
    src:    url('../fonts/seravek/SeravekWebBasicLight.eot?v9x08n');
    src:    url('../fonts/seravek/SeravekWebBasicLight.eot?v9x08n#iefix') format('embedded-opentype'),
    		url('../fonts/seravek/SeravekWebBasicLight.woff?v9x08n') format('woff');
    font-weight: lighter;
    font-style: normal;
}

// extra light
@font-face {
    font-family: 'seravek';
    src:    url('../fonts/seravek/SeravekWebBasicExtraLight.eot?v9x08n');
    src:    url('../fonts/seravek/SeravekWebBasicExtraLight.eot?v9x08n#iefix') format('embedded-opentype'),
    		url('../fonts/seravek/SeravekWebBasicExtraLight.woff?v9x08n') format('woff');
    font-weight: 100;
    font-style: normal;
}



//////// ITALIC


// regular
@font-face {
    font-family: 'seravek';
    src:    url('../fonts/seravek/SeravekWebBasicRegularItalic.eot?v9x08n');
    src:    url('../fonts/seravek/SeravekWebBasicRegularItalic.eot?v9x08n#iefix') format('embedded-opentype'),
    		url('../fonts/seravek/SeravekWebBasicRegularItalic.woff?v9x08n') format('woff');
    font-weight: normal;
    font-style: italic;
}

// medium
@font-face {
    font-family: 'seravek';
    src:    url('../fonts/seravek/SeravekWebBasicMediumItalic.eot?v9x08n');
    src:    url('../fonts/seravek/SeravekWebBasicMediumItalic.eot?v9x08n#iefix') format('embedded-opentype'),
    		url('../fonts/seravek/SeravekWebBasicMediumItalic.woff?v9x08n') format('woff');
    font-weight: 700;
    font-style: italic;
}

// Bold
@font-face {
    font-family: 'seravek';
    src:    url('../fonts/seravek/SeravekWebBasicBoldItalic.eot?v9x08n');
    src:    url('../fonts/seravek/SeravekWebBasicBoldItalic.eot?v9x08n#iefix') format('embedded-opentype'),
    		url('../fonts/seravek/SeravekWebBasicBoldItalic.woff?v9x08n') format('woff');
    font-weight: bold;
    font-style: italic;
}

// light
@font-face {
    font-family: 'seravek';
    src:    url('../fonts/seravek/SeravekWebBasicLightItalic.eot?v9x08n');
    src:    url('../fonts/seravek/SeravekWebBasicLightItalic.eot?v9x08n#iefix') format('embedded-opentype'),
    		url('../fonts/seravek/SeravekWebBasicLightItalic.woff?v9x08n') format('woff');
    font-weight: lighter;
    font-style: italic;
}

// extra light
@font-face {
    font-family: 'seravek';
    src:    url('../fonts/seravek/SeravekWebBasicExtraLightItalic.eot?v9x08n');
    src:    url('../fonts/seravek/SeravekWebBasicExtraLightItalic.eot?v9x08n#iefix') format('embedded-opentype'),
    		url('../fonts/seravek/SeravekWebBasicExtraLightItalic.woff?v9x08n') format('woff');
    font-weight: 100;
    font-style: italic;
}