$royalBlue:#3051bc;
$blue:#3c80d2;
$white:#ffffff;
$light: #cbcacc;
$lessLight: #6a6f79;
$lessDark: #2e3034;
$dark: #1d1f22;
$darker: #141517;
/* anim */
$bounce: cubic-bezier(0.680, -0.150, 0.265, 1.150);